.ob-mancheteCarrossel {
    grid-column: span 8;
    grid-row: span 4;
    background-color: #ccc;
    border-radius: 15px;
    width: 792px;
}

.mancheteCarrossel {
    width: 100%;
    height: 100%
}

.mancheteCarrossel .splide__track {
    height: 100%
}

.mancheteCarrossel .splide__slide {
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column
}

.mancheteCarrossel .splide__arrows {
    display: unset
}

.mancheteCarrossel .splide__list {
    height: 100%;
}

.mancheteCarrossel .splide__arrow--next {
    background-color: #fff;
    right: 1.5em;
    -webkit-box-shadow: 0 0 7px 6px rgb(137 137 137/4%);
    box-shadow: 0 0 7px 6px rgb(137 137 137/4%)
}

.mancheteCarrossel .splide__arrow--prev {
    background-color: #fff;
    left: 1.5em;
    -webkit-box-shadow: 0 0 7px 6px rgb(137 137 137/4%);
    box-shadow: 0 0 7px 6px rgb(137 137 137/4%)
}

.mancheteCarrossel .splide__arrow svg {
    fill: #000;
    height: .8em;
    width: .8em
}

.mancheteCarrossel .splide__pagination {
    right: unset;
    left: 5px;
    bottom: 15px
}

.mancheteCarrossel .splide__pagination__page {
    background: 0 0;
    border: 1px solid #acacac;
    opacity: 1
}

.mancheteCarrossel .splide__pagination__page.is-active {
    transform: unset;
    background: #fff;
    border: 1px solid #fff
}

.mancheteCarrossel .splide__slide>a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
    color: #fff;
    cursor: pointer
}

.mancheteCarrossel .splide__slide .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px
}

.mancheteCarrossel .splide__slide>a .mancheteCarrossel-box {
    display: flex;
    flex-direction: column;
    padding: 25px 70px 45px 25px;
    gap: 12px
}

.mancheteCarrossel .splide__slide>a .mancheteCarrossel-box>h2 {
    color: #fafafa;
    font-size: 28px;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}
  
.ob-chamadaBoxAlta {
    grid-column: span 4;
    grid-row: span 4;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 384px;
}

.ob-chamadaBoxAlta.extended {
    grid-column: span 6!important;
    grid-row: span 6!important
}

.ob-chamadaBoxAlta>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1
}

.ob-chamadaBoxAlta:hover>img {
    width: 110%;
    height: 110%
}

.ob-chamadaBoxAlta>a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    padding: 25px;
    position: initial;
    z-index: 2
}

.ob-chamadaBoxAlta .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: initial;
    z-index: 5
}

.chamadaBoxAlta-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-right: 30px;
}

.ob-chamadaBoxAlta .chamadaBoxAlta-box>h2 {
    color: #fafafa;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter', sans-serif;
}

.ob-chamadaBoxAlta.extended .chamadaBoxAlta-box>h2 {
    font-size: 36px;
    line-height: 40px
}

@media(max-width: 1024px) {
    .ob-chamadaBoxAlta.extended {
        grid-column:span 8!important;
        grid-row: span 5!important
    }
}

@media(max-width: 700px) {
    .headline-article {
        grid-column:span 4;
        grid-row: span 3
    }

    .mancheteCarrossel .splide__slide>a .mancheteCarrossel-box>h2 {
        color: #fafafa;
        font-size: 18px;
        line-height: 22px
    }

    .ob-chamadaBoxAlta {
        grid-row:span 2
    }

    .ob-chamadaBoxAlta .wrapper .share {
        display: none
    }

    .ob-chamadaBoxAlta .chapeu-point {
        display: none!important
    }

    .ob-chamadaBoxAlta.extended {
        grid-column: span 4!important;
        grid-row: span 4!important
    }
}

.arrows-container {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@media(max-width: 500px) {
    .ob-chamadaBoxAlta {
        display: none;
    }

    .ob-mancheteCarrossel {
        width: 100%;
    }

    .mancheteCarrossel-box {
        padding: 60px 70px 15px 25px;
    }

    .arrow-container {
        display: none;
    }

    .arrows-container {
        display: none;
    }
    
}

